{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<div class="row" id="title">
    <div class="col-sm-12">
        <h1 style="text-align: center;">Buy <span class="highlight"> Tickets  </span><h1>
    </div>
</div>
<hr>
<hr>

<div class="col-sm-5">
    <h3> Order Details </h3>
    <p> Film: {{film.film_name}} </p>
    <p> Screening Date: {{screening.screening_date}} </p>
    <p> Screening Time: {{screening.screening_time.strftime('%H:%M') }} </p>
    <p> Seat Number: {{seat.seat_id}} </p>
    <p> Price: £{{ price }} </p>
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-5">
    <form class ="checkoutform" action="" method="post">
    {{ checkoutform.hidden_tag() }}

      <div class="form-group">
          <p>All values correct. Do you wanna checkout?</p> {{checkoutform.check (class_="checkbox")}}</p><br>
          <p><input type="submit" class="btn btn" value="Checkout"></p>
      </div>

    </form>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
