{% extends "base.html" %}
{% block content %}

    <br>
    <hr>
    <hr>

    <div class="row" id="title">
        <div class="col-6" style="text-align: center;">
            <img src="../static/img/{{film.film_poster}}" alt="Film Poster" class="img-rounded">
        </div>

        <div class="col-6" >
            <h1>{{film.film_name}}</h1>
            <hr>
            <h4>Rating: <span class="highlight">{{film.film_age_rating}}</span></h4>
            <p>{{ film.film_description}}</p>
            <p>Length: {{ film.film_runtime}} minutes</p>
            <p>Director: {{ film.film_director}} </p>
            <hr>
            <p> Choose your viewing time: </p>

            <br>
            <br>
            <p>Today:</p>
              {% for each in screening %}
                <a href="/seatchoice/{{each.screening_id}}"><button type="button" class="btn"> Time: {{each.screening_time.strftime('%H:%M')}}</button> </a>
              {%endfor%}

            <p>Tomorrow:</p>
              {% for each in screeningtomorrow %}
                <a href="/seatchoice/{{each.screening_id}}"><button type="button" class="btn"> Time: {{each.screening_time.strftime('%H:%M')}}</button> </a>
              {%endfor%}

            <p>Day + 2:</p>
              {% for each in screeningplus2 %}
                <a href="/seatchoice/{{each.screening_id}}"><button type="button" class="btn"> Time: {{each.screening_time.strftime('%H:%M')}}</button> </a>
              {%endfor%}

            <p>Day + 3:</p>
              {% for each in screeningplus3 %}
                <a href="/seatchoice/{{each.screening_id}}"><button type="button" class="btn"> Time: {{each.screening_time.strftime('%H:%M')}}</button> </a>
              {%endfor%}

            <p>Day + 4:</p>
              {% for each in screeningplus4 %}
                <a href="/seatchoice/{{each.screening_id}}"><button type="button" class="btn"> Time: {{each.screening_time.strftime('%H:%M')}}</button> </a>
              {%endfor%}

            <p>Day + 5:</p>
              {% for each in screeningplus5 %}
                <a href="/seatchoice/{{each.screening_id}}"><button type="button" class="btn"> Time: {{each.screening_time.strftime('%H:%M')}}</button> </a>
              {%endfor%}

            <p>Day + 6:</p>
              {% for each in screeningplus6 %}
                <a href="/seatchoice/{{each.screening_id}}"><button type="button" class="btn"> Time: {{each.screening_time.strftime('%H:%M')}}</button> </a>
              {%endfor%}
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <hr>

{% endblock %}
