{% extends "base.html" %}
{% block content %}
    <br>
    <hr>
    <hr>
    <div class="row">
    <div class="row" id="customerDetails">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <h1>My Details</h1>
            {% for each in customer %}
                <h3>{{each.customer_f_name}}</h3>
                <h3>{{each.customer_s_name}}</h3>
                <h3>{{each.customer_address}}</h3>
                <h3>{{each.customer_postcode}}</h3>
                <h3>{{each.customer_mobile}}</h3>
                <h3>{{each.customer_dob}}</h3>
            {%endfor%}

            <h1>Bookings</h1>
              {% for some in tickets %}
                  <h3>{{some.ticket_id}} {{some.screening_time}}</h3>
              {%endfor%}
        </div>
    </div>

{% endblock %}
