{% extends "base.html" %}

{% block content %}
    <br>
    <hr>
    <hr>
    <div class="row" id="spaceFiller">
        <div class="col-sm-12">
            <h1 class="text-center">Search<span class="highlight"> On </span> </h1>
        </div>
    </div>
    <form class ="searchform" action="" method="post">
    {{ searchform.hidden_tag() }}
        <div class="form-group">
            {{ searchform.search (placeholder='Search....',class_="form-control")}}<br>              <!--First input box and message if not input -->
        </div>
    </form>
    <div class="col-sm-5">
    {% if films %}
      <h1><u>Films</u></h2>
      {% for each in films %}
        <a href="/movie/{{each.film_id}}"><h2>{{each.film_name}}</h1></a>
      {% endfor %}
    {% endif%}
    </div>
    <div class="col-sm-1">

    </div>

    <div class="col-sm-5">
      {% if screenings %}
        <h1><u>Screenings</u></h2>
        {% for each in screenings %}
            <a href="/seatchoice/{{each.screening_id}}"><h3>{{each.film.film_name}}: {{each.screening_date}} {{each.screening_time.strftime('%H:%M')}}</h3> </a>
        {% endfor %}
      {% endif%}
    </div>
    <hr>
    <hr>
{% endblock %}
