{% extends "base.html" %}
{% block content %}
    <br>
    <hr>
    <hr>
    <div class="row" id="title">
        <div class="col-sm-12">
            <h1 style="text-align: center;">Your <span class="highlight"> Booking </span><h1>
        </div>
    </div>

    <hr>

    <div class="row" id="chosenFilm">
        <div class="col-sm-6" style="text-align: center;">
            <img src="../static/img/{{film.film_poster}}">
        </div>

        <div class="col-sm-6">
            <h3 class="pull-left"><span class="highlight"> Now Booking </span></h3>
            <br>
            <br>
            <hr>
            <h3> {{film.film_name}} </h3>
            <p> Rating: <span class="highlight"> {{film.film_age_rating}} </span><p>
            <p> Screen: {{screening.screen_id}}<p>
            <p> Date: {{screening.screening_date}}<p>
            <p> Time: {{screening.screening_time.strftime('%H:%M')}}<p>
        </div>
    </div>
    <br>
    <hr>
    <hr>

    <div class="row" id="ticketseat">
        <!-- <div class="panel panel-default"> -->
            <div class="col-sm-6">
                <h1> Choose <span class="highlight"> Ticket(s) </span></h1>
                <hr>

                <form>
                    <div class="form-group">
                        <label for="sel1">Adult (20+ years):</label>
                        <select class="form-control" id="sel1">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                        </select>

                        <label for="sel2">Teen (17-19 years):</label>
                        <select class="form-control" id="sel2">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                        </select>

                        <label for="sel3">Child (16 years and below):</label>
                        <select class="form-control" id="sel3">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>

                        </select>

                        <label for="sel4">Pensioner (65+ years):</label>
                        <select class="form-control" id="sel4">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                        </select>

                        <label for="sel5">Student:</label>
                        <p> Provide your valid student ID upon entry. </p>
                        <select class="form-control" id="sel5">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                        </select>

                        <hr>

                        <label for="sel5"><span class="highlight">VIP:</span></label>
                        <select class="form-control" id="sel5">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                        </select>
                        <hr>
                    </div>
                </form>

            </div>
            <div class="col-sm-6 text-center">
                <h1> Choose <span class="highlight"> Seat(s) </span></h1>
                <hr>

                    {% for each in seats[0:9] %}

                      {% for a in tickets %}

                        {% if each.seat_id == a.seat_id %}
                          <button type="button" class="btn btn-primary" >---</button>

                        {% endif %}

                      {% endfor %}
                      <a href="/checkout/{{screening.screening_id}}/{{each.seat_id}}"><button type="button" class="btn btn-primary" > &nbsp;{{each.seat_id}}&nbsp;</button><a/>

                    {% endfor %}

                    <br>
                    <hr>

                    {% for each in seats[9:19] %}
                      <a href="/checkout/{{screening.screening_id}}/{{each.seat_id}}"><button type="button" class="btn btn-primary" > {{each.seat_id}}</button><a/>
                    {% endfor %}
                    <br>
                    <br>

                    {% for each in seats[19:29] %}
                      <a href="/checkout/{{screening.screening_id}}/{{each.seat_id}}"><button type="button" class="btn btn-primary" > {{each.seat_id}}</button><a/>
                    {% endfor %}
                    <br>
                    <br>

                    {% for each in seats[29:39] %}
                      <a href="/checkout/{{screening.screening_id}}/{{each.seat_id}}"><button type="button" class="btn btn-primary" > {{each.seat_id}}</button><a/>
                    {% endfor %}
                    <br>
                    <br>

                    {% for each in seats[39:49] %}
                      <a href="/checkout/{{screening.screening_id}}/{{each.seat_id}}"><button type="button" class="btn btn-primary" > {{each.seat_id}}</button><a/>
                    {% endfor %}
                    <br>
                    <br>

                    {% for each in seats[49:59] %}
                      <a href="/checkout/{{screening.screening_id}}/{{each.seat_id}}"><button type="button" class="btn btn-primary" > {{each.seat_id}}</button><a/>
                    {% endfor %}
                    <br>
                    <br>

                    {% for each in seats[59:69] %}
                      <a href="/checkout/{{screening.screening_id}}/{{each.seat_id}}"><button type="button" class="btn btn-primary" > {{each.seat_id}}</button><a/>
                    {% endfor %}
                    <br>
                    <br>

                    {% for each in seats[69:79] %}
                      <a href="/checkout/{{screening.screening_id}}/{{each.seat_id}}"><button type="button" class="btn btn-primary" > {{each.seat_id}}</button><a/>
                    {% endfor %}
                    <br>
                    <br>

                    {% for each in seats[79:89] %}
                      <a href="/checkout/{{screening.screening_id}}/{{each.seat_id}}"><button type="button" class="btn btn-primary" > {{each.seat_id}}</button><a/>
                    {% endfor %}
                    <br>
                    <br>

                    {% for each in seats[89:99] %}
                      <a href="/checkout/{{screening.screening_id}}/{{each.seat_id}}"><button type="button" class="btn btn-primary" > {{each.seat_id}}</button><a/>
                    {% endfor %}
                    <br>
                    <br>

                <div class="row">
                <br><br>
            </div>
        <!-- </div> -->
    </div>

    <hr>
    <hr>


{% endblock %}
