{% extends "base.html" %}
{% block content %}
    <br>
    <hr>
    <hr>
    <div class="row" id="title">
        <div class="col-sm-12">
            <h1 style="text-align: center;">Your <span class="highlight"> Booking </span><h1>
        </div>
    </div>

    <hr>

    <div class="row" id="chosenFilm">
        <div class="col-sm-6" style="text-align: center;">
            <img src="../static/img/BlackPanther.jpg">

        </div>

        <div class="col-sm-6">
            <h3 class="pull-left"><span class="highlight"> Now Booking </span></h3>
            <br>
            <br>
            <hr>
            <h3> {{film.film_name}} </h3>
            <p> Rating: <span class="highlight"> {{film.film_age_rating}} </span><p>
            <p> Screen: {{screening.screen_id}}<p>
            <p> Date: {{screening.screening_date}}<p>
            <p> Time: {{screening.screening_time}}<p>
        </div>
    </div>
    <br>
    <hr>
    <hr>

    <div class="row" id="title">
        <div class="col-sm-12" style="text-align: center;">
            <h1> Choose Your <span class="highlight"> Seat </span></h1>
        </div>
    </div>
    <hr>

    <div class="row" id="seatChoice">
        <div class="col-sm-10">
            <button>1</button>

        </div>
    </div>
    <hr>
    <hr>

{% endblock %}
