{% extends "base.html" %}
{% block content %}
    <br>
    <hr>
    <hr>
    <div class="row" id="title">
        <div class="col-sm-12">
            <h1 style="text-align: center;">Your Booking <h1>
        </div>
    </div>

    <hr>


    <div class="row" id="chosenFilm">
        <div class="col-sm-6" style="text-align: center;">
            <img src="./static/img/BlackPanther.jpg">

        </div>

        <div class="col-sm-6">
            <h3 class="pull-left"><span class="highlight"> Now Booking </span><h3>
            <hr>
            <br>
            <h3> Title </h3>
            <p> Rating: <span class="highlight"> 12 </span><p>
            <p> Screen: <p>
            <p> Date: <p>
            <p> Time: <p>
        </div>
    </div>
    <br>
    <hr>
    <hr>

    <div class="row" id="title">
        <div class="col-sm-12" style="text-align: center;">
            <h1> Choose your seat </h1>
        </div>
    </div>
    <hr>

    <div class="row" id="seatChoice">
        <div class="col-sm-10">

        </div>
    </div>
    <hr>
    <hr>
{% endblock %}
