{% extends "base.html" %}

{% block content %}
    <hr>
    <hr>
    <div class="row" id="spaceFiller">
        <div class="col-sm-12">
            <h1 class="text-center"> Whats On </h1>
        </div>

    </div>

    <div class="movies" id="allMovies">
        <hr>
        <div class="row">
            <div class="col-sm-6" style="text-align:center;">
                <div class="pull-center">
                    <img src="./static/img/BlackPanther.jpg" alt="Black Panther" class="img-rounded">
                </div>
            </div>

            <div class="col-sm-6">
                <h3> Title</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#"><button type="button" class="btn">Book Tickets</button> </a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6" style="text-align:center;">
                <div class="pull-center">
                    <img src="./static/img/mazerunnerTeen.jpg" alt="Black Panther" class="img-rounded">
                </div>
            </div>

            <div class="col-sm-6">
                <h3> Title</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#"><button type="button" class="btn">Book Tickets</button> </a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6" style="text-align:center;">
                <div class="pull-center">
                    <img src="./static/img/jumanji.jpg" alt="Black Panther" class="img-rounded">
                </div>
            </div>

            <div class="col-sm-6">
                <h3> Title</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#"><button type="button" class="btn">Book Tickets</button> </a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6" style="text-align:center;">
                <div class="pull-center">
                    <img src="./static/img/thepostSenior.jpg" alt="Black Panther" class="img-rounded">
                </div>
            </div>

            <div class="col-sm-6">
                <h3> Title</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#"><button type="button" class="btn">Book Tickets</button> </a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6" style="text-align:center;">
                <div class="pull-center">
                    <img src="./static/img/cocoKids.jpg" alt="Black Panther" class="img-rounded">
                </div>
            </div>

            <div class="col-sm-6">
                <h3> Title</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#"><button type="button" class="btn">Book Tickets</button> </a>
            </div>
        </div>

        <hr>
    </div>
    </div>
{% endblock %}
