{% extends "base.html" %}

{% block content %}
    <section id="title">
        <h1> Whats On </h1>
    </section>

    <section id="movieList">
        <div class = "movieContainer1">
            <div class = 'wrap'>
                <div class = "image">
                    <img src="./static/img/BlackPanther.jpg" alt ="Black Panther">
                    <h4> Black Panther </h4>
                </div>
            </div>
        </div>
        <div class = "movieContainer2">
            <div class = "image">
                <img src="./static/img/downsizingTeen.jpg" alt ="Downsizing">
                <h4> Downsizing </h4>
            </div>
        </div>
        <div class = "movieContainer3">
            <div class = "image">
                <img src="./static/img/jumanji.jpg" alt ="Jumanji">
                <h4> Jumanji: Welcome To The Jungle </h4>
            </div>
        </div>
        <div class = "movieContainer4">
            <div class = "image">
                <img src="./static/img/starwars.jpg" alt ="Star Wars">
                <h4> Star Wars: The Last Jedi </h4>
            </div>
        </div>
    </section>
{% endblock %}
