{% extends "base.html" %}

{% block content %}
    <section id="title">
        <h1> Whats On </h1>
    </section>

    <hr>

    <section id="movieList">
        <div class = "movieContainer1">
            <div class = 'wrap'>
                <div class = "image">
                    <img src="./static/img/BlackPanther.jpg" alt ="Black Panther">
                </div>
                <div class="movieInfo1">
                    <div class = 'wrap'>
                        <h3> Title </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet blandit sem. Morbi varius, lorem in bibendum lacinia,
                         enim nisl elementum libero, vitae scelerisque nisi ligula eu ligula. Phasellus pellentesque mauris sed odio tristique,
                         vel scelerisque lorem iaculis. Donec bibendum posuere porttitor.</p>
                    </div>
            </div>
        </div>
        <div class = "movieContainer2">
            <div class = 'wrap'>
                <div class = "image">
                    <img src="./static/img/downsizingTeen.jpg" alt ="Downsizing">

                </div>
            </div>
        </div>
        <div class = "movieContainer3">
            <div class = 'wrap'>
                <div class = "image">
                    <img src="./static/img/jumanji.jpg" alt ="Jumanji">

                </div>
            </div>
        </div>
        <div class = "movieContainer4">
            <div class = 'wrap'>
                <div class = "image">
                    <img src="./static/img/starwars.jpg" alt ="Star Wars">

                </div>
            </div>
        </div>


    </section>
{% endblock %}
