# .gitignore file



# Compiled bytecode
*.class

#Intellij
/out
*.idea

# Zip archives
*.zip

# Doc comments 
/doc

*out

films.db

Desktop/bin

app.db

cashReciept.pdf
cardReciept.pdf

${doc.dir}
ticket.png





