* {
    margin: 0em;
    padding: 0em;
}

body{
  font: 15px/1.5 Arial;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Header */
header{
  background:#404040;
  color:#FFFFFF;
  padding-top:1%;
  padding-bottom: 1%;
  min-height:70px;
  border-bottom:#992600 5px solid;
}

ul{
  margin:0;
  padding:0;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 15px 0 15px;
}

header #title{
  margin-left: 1%;
}

header #title h1{
  margin:0;
}

header nav{
  margin-top: 1%;
  margin-left: 60%;
}

header .highlight, header .page a{
  color:#b32d00;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

.container h1{
  margin-left: 20%;
}

/* */

div {
    padding: 2em;
}

form {
  display: table;
}

p {
  display: table-row;
}

label {
  display: table-cell;
  padding-right: 1em;
}

input {
  display: table-cell;
}
